.u__margin__top{

    &--sm{
        margin-top: 1.5rem;
    }

    &--md{
        margin-top: 2.5rem;
    }

    &--lg{
        margin-top: 5rem;
    }
}

.u__margin__right{

    &--sm{
        margin-right: 1.5rem;
    }

    &--md{
        margin-right: 2.5rem;
    }

    &--lg{
        margin-right: 5rem;
    }
}

.u__margin__left{

    &--sm{
        margin-left: 1.5rem;
    }

    &--md{
        margin-left: 2.5rem;
    }

    &--lg{
        margin-left: 5rem;
    }
}

.u__margin__bottom{

    &--sm{
        margin-bottom: 1.5rem;
    }

    &--md{
        margin-bottom: 2.5rem;
    }

    &--lg{
        margin-bottom: 5rem;
    }
}

.u__padding__bottom{

    &--sm{
        padding-bottom: 1.5rem;
    }

    &--md{
        padding-bottom: 2.5rem;
    }

    &--lg{
        padding-bottom: 5rem;
    }
}

.u__padding__top{

    &--sm{
        padding-top: 1.5rem;
    }

    &--md{
        padding-top: 2.5rem;
    }

    &--lg{
        padding-top: 5rem;
    }
}

.u__center__text{
    text-align: center;
}